*{
    padding: 0;
    margin: 0;
    font-family: 'Heebo',  Arial, Helvetica, sans-serif;
}

body,html{
    height: 100vh;
    width: 100vw;
}

a{
  text-decoration: none;
    color:black;
}
/*start of Navbar*/
.not-clicked{
    position: fixed;
    padding: 0.7rem;
    background-color: #1B737E;
    color: #e6f1ff;
    width: 100%;
    display: flex;
    align-self:center;
    justify-content: flex-end;
    height: 2.5rem;
}

#navbar .big{
    position: absolute;
    left:7%;
    top:0.7rem;
    font-size: 1.75rem;
    font-weight: bolder;
}

#navbar .right-float{
    display: flex;
    align-self:center;
    float: right;
    font-weight: bolder;
    font-size:1.1rem;
    margin-right: 1.5rem;
}

.right-float span{
    padding: 1rem;
    color: #e6f1ff;
}

.dropdown{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: row;
}
/*End of Navbar*/  

/* Hero-container */
#hero-container{
    display:flex;
    align-items: center;
    justify-content: center;
    width:100%;
    height:100%;
    background-color:ddf3f5;
     color: black;
    flex-direction: column;
}
#hero-container h1{
    font-size: 4rem;
}

#hero-container p{
    font-size: 1.5rem;
}

#hero-container p,#hero-container h1{
    padding: 1rem;
}
.button{
    margin: 2rem;
    width: 15rem;
    height: 3rem;
    border: 2px solid #58989A;
    background-color: #58989A ;
    color:white;
    transition: ease-in-out 0.2s all;
    font-size:1.1rem;
}

.button:hover{
    background-color:#ddf3f5;
    color: #58989A;

}
@media only screen and (max-width: 1200px) {
    #navbar .right-float .dropdown{
        display: none;
    }
    .right-float{
    width: 100%;
    margin-top: 1rem;
}
    .clicked{
    position: fixed;
    padding: 0.7rem;
    background-color: #1B737E;
    color: #e6f1ff;
    width: 100%;
    display: flex;
    align-self:center;
    justify-content: space-evenly;
    height: auto;
    padding-top:2.5rem;
}
    #dropdown{
        margin-top:1rem;
        width:100%;
        margin-left: 1.5rem;
    }
    #dropdown a{
        display: flex;
        align-self:center;
        font-weight: bolder;
        justify-content: center;
        width:100%;
        font-size: 1.1rem;

    }
    #dropdown a:hover{
        background-color: #58989A;
        font-size: 110%;
    }
    .open{
        background: url('open.png');
        height: 1rem;
        width: 0.8rem;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        transition: ease-in-out all 0.2s;
    }
    .hr{
        height:2px;
        width: 90%;
        background-color: black;
    }
    .close{
        background: url('close.png'); 
        height: 1rem;
        width: 1rem; 
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
        transition: ease-in-out all 0.2s ;
    }
    #a-open{
        position: absolute;
        top:30%;
        right:16%;
        transition: ease-in-out all 0.2s ;
    }
    #a-open:hover{
        transform: scale(1.2);
    }
    #a-close{
        position: absolute;
        top:4%;
        right:8%;
        transition: ease-in-out all 0.2s ;
    }
    #a-close:hover{
        transform: scale(1.2);
    }
    #dropdown{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    }
    #navbar{
        flex-direction: column;
        padding-top: 1rem;
        padding-left:0;
        padding-right: 0;
        padding-bottom: 0;
    }


   
     /* hero media queries */
     #hero-container h1{
        font-size: 3rem;
    }


}

@media only screen and (max-width: 430px) {
      #hero-container h1{
        font-size: 2rem;
    }
    #hero-container p{
        font-size: 1rem;
    }

}
/* End of media Query */
